@import "tailwindcss";

@layer components{
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;
        height:100%;
        width:100%;
        padding-left: 250px;
    }
    .card{
        border: 2px solid #f1f1f1;
        height:100px;
        width:200px;
        text-align: center;
        align-content: center;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(92, 90, 90, 0.2) ;

    }
    .box{
        border: 1px solid #f1f1f1;
        width:300px;
        height:230px;
        padding-left: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(92, 90, 90, 0.2) ;
    
        
        
    }
    .button{
        width:100px;
        height:28px;
        border:1px solid grey;
        background-color: rgb(11, 110, 192);
        border-radius: 5px;
        color: white;
    }
}